<% if (site.posts.length) { %>
    <div class="widget-wrap">
        <h3 class="widget-title"><%= __('sidebar.recents') %></h3>
        <div class="widget">
            <ul id="recent-post" class="<%= (theme.customize.thumbnail?'':'no-thumbnail') %>">
                <% var postCount = 0; %>
                <% site.posts.sort('date', -1).each(function(post) { %>
                    <% if (post.lang === page.lang && postCount < 5) { %>
                    <% postCount++; %>
                    <li>
                        <% if (theme.customize.thumbnail === true) { %>
                        <div class="item-thumbnail">
                            <%- partial('common/thumbnail.ejs', {post: post}) %>
                        </div>
                        <% } %>
                        <div class="item-inner">
                            <p class="item-category">
                                <% if (page.lang === "en") { %>
                                    <%- list_categories(post.categories, {
                                        depth:2,
                                        style: 'none',
                                        show_count: false,
                                        class: 'article-category',
                                        separator: '<i class="icon fa fa-angle-right"></i>',
                                    }) %>
                                <% } else { %>
                                    <% for (var i in post.categories.data) { %>
                                        <a class="article-category-link" href="<%- url_for(post.categories.data[i].path).replace('../', '') %>"><%= theme.menu["Categories"][post.lang][post.categories.data[i].slug] %></a>
                                    <% } %>
                                <% } %>
                            </p>
                            <p class="item-title"><a href="<%- url_for((post.link?post.link:post.path)) %>" class="title"><%= post.title %></a></p>
                            <p class="item-date"><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date) %></time></p>
                        </div>
                    </li>
                    <% } %>
                <% }) %>
            </ul>
        </div>
    </div>
<% } %>