<%- partial('common/head') %>
<!--<body ondragstart="return false;" ondrop="return false;" oncontextmenu="return false;">-->
<body>
    <div id="fb-root"></div>
    <div id="wrap">
        <%- partial('common/header', null, {cache: !config.relative_link}) %>
        <div class="container container-body-part">
            <div class="main-body container-inner">
                <div class="main-body-inner">
                    <section id="main">
                        <%- partial('common/content-title') %>
                        <div class="main-body-content">
                            <%- body %>
                        </div>
                    </section>
                    <%- partial('common/sidebar') %>
                </div>
            </div>
        </div>
        <%- partial('common/footer', null, {cache: !config.relative_link}) %>
    </div>

    <noscript>
        <img src="https://i.imgur.com/IOpkgxH.jpg" style="width: 100%; margin: 0 auto">
        <style type="text/css">
            .main-body-inner {display: none;}
        </style>
    </noscript>
    <%- partial('common/scripts') %>
</body>
</html>
