<%- partial('common/head') %>
<!--<body ondragstart="return false;" ondrop="return false;" oncontextmenu="return false;">-->
<body>
    <div id="fb-root"></div>
    <div id="wrap">
        <%- partial('common/header', null, {cache: !config.relative_link}) %>
        <noscript>
                <p>Please enable Javascript or the website cannot function normally.</p>
                <p>Hãy kích hoạt Javascript. Website không hoạt động được nếu không có Javascript.</p>
                <p>Javascriptが無効になっている限りサイトが正常に動けません。Javascriptを有効にしてください。</p>
        </noscript>
        <div id="will-show" class="container container-body-part no-show-if-js-disabled">
            <div class="main-body container-inner">
                <div class="main-body-inner">
                    <section id="main">
                        <%- partial('common/content-title') %>
                        <div class="main-body-content">
                            <%- body %>
                        </div>
                    </section>
                    <%- partial('common/sidebar') %>
                </div>
            </div>
        </div>
        <%- partial('common/footer', null, {cache: !config.relative_link}) %>
    </div>

    <%- partial('common/scripts') %>
</body>
</html>
