<!DOCTYPE html>
<html lang="<%= page.lang %>">
<head>
    <meta charset="utf-8">
    <% if (page.lang === 'ja') { %>
        <meta name="description" content="つきへ（月へ）・　つきへスタジオのブログ。内容は主に日常生活、技術（ほとんどはIT系、情報技術）、旅行（ほとんどの記事は日本国内について）、エンタテーメント（アニメ、ゲームのレビュー）等。">
    <% } else if (page.lang === 'vi') { %>
        <meta name="description" content="Tsukie - Blog của Tsukie studio. Nội dung của blog về cuộc sống hàng ngày, về công nghệ (chủ yếu về công nghệ phần mềm, IT), du lịch (hầu hết về Nhật Bản), giải trí (anime, hoạt hình, game...).">
    <% } else { %>
        <meta name="description" content="Tsukie - Blog from Tsukie studio. Written articles about lifestyles, technologies (mostly software programming related), travel (contents mostly Japan related), entertainment (anime, game, etc).">
    <% } %>
    <%
        var title = page.title;
        if (is_archive()) {
            title = __('index.archive');
            if (is_month()) {
                title += ': ' + page.year + '/' + page.month;
            } else if (is_year()) {
                title += ': ' + page.year;
            }
        } else if (is_category()) {
            var definedCategories = theme.menu["Categories"][page.lang];
            title = __('index.category') + ': ' + definedCategories[page.category];
        } else if (is_tag()) {
            var dict = theme.tag[page.lang];
            title = __('index.tag') + ': ' + dict[page.tag];
        }

        var headTitle = "";
        if (page.lang === "ja") {
            headTitle = "つきへ・夢は常に続く"
        } else {
            headTitle = config.title;
        }
    %>
    <title><% if (title) { %><%= title %> | <% } %><%= headTitle %></title>
    <% if (theme.plugins.bing_site_verification) { %>
      <meta name="msvalidate.01" content="<%- theme.plugins.bing_site_verification %>" />
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% if (page.tags) {
        var keywords = [];
        for (var i in page.tags.data) {
            keywords.push(page.tags.data[i].name);
        }
    %>
        <meta name="keywords" content="<%= keywords.join(',') %>" />
    <% } %>
    <%- open_graph({
        image:          thumbnail(page),
        description: page.summary,
        fb_app_id:      theme.miscellaneous.open_graph.fb_app_id,
        fb_admins:      theme.miscellaneous.open_graph.fb_admins,
        twitter_id:     theme.miscellaneous.open_graph.twitter_id,
        google_plus:    theme.miscellaneous.open_graph.google_plus,
    }) %>
    <%- meta(page) %>

    <% if (theme.customize && theme.customize.social_links && theme.customize.social_links.rss) { %>
        <link rel="alternate" href="<%- theme.customize.social_links.rss %>" title="<%= config.title %>" type="application/atom+xml" />
    <% } %>

    <% if (theme.customize.favicon) { %>
        <link rel="icon" href="<%- url_for(theme.customize.favicon) %>" />
    <% } %>

    <%- css('libs/font-awesome/css/font-awesome.min') %>
    <%- css('libs/source-code-pro/styles') %>

    <%- css('css/style') %>

    <%- js('libs/jquery/2.0.3/jquery.min') %>
    <%- partial('plugin/scripts', { isHead: true }) %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3728474335881495",
            enable_page_level_ads: true
        });
    </script>
</head>
